{% extends "base.html" %}
{% block titles %}
    Список изображений
{% endblock %}
{% block content %}
    <p><a href="/">Назад к списку</a></p>

    <h4> Редактирование изображения </h4>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Изменить изображение</button>
    </form>

    {% if image.resize %}
        <img src="{{ image.resize.url }}" alt="">
    {% else %}
        <img src="{{ image.original.url }}" alt="">
    {% endif %}
{% endblock %}