<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Загрузка изображения</title>
</head>
<body>
<p><a href="/">Назад к списку</a></p>
<h4> Новое изображение </h4>
<form action="{{ image.get_absolute_url }}" method="post" enctype="multipart/form-data">
{#    action="{% url 'image_resize' image.pk %}"#}
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Загрузить </button>
{#        <img src="{{ image.image.url }}" alt="connect" style="max-height:300px">#}
</form>

{#{% if image.image.url %}#}
{#    <h3>Успешно за загружено : {{ image.image}}</h3>#}
{#    <img src="{{ image.image.url }}" alt="connect" style="max-height:300px">#}
{#{% endif %}#}
</body>
</html>